
@{
    ViewBag.Title = "Home";
}


<h2>User Dashboard</h2>

<div class="row">
    <div class="col-md-6 margin-top-20"><a href="@Url.Action("Create", "Roadname")" class="btn btn-primary btn-block btn-large"><span class="glyphicon glyphicon-circle-arrow-down"></span>Create Road Name</a></div>
    <div class="col-md-6 margin-top-20"><a href="@Url.Action("Index", "Roadname")" class="btn btn-primary btn-block btn-large">My Posted</a></div>
</div>

<div class="row">
    <div class="col-md-6 margin-top-20"><a href="" class="btn btn-primary btn-block btn-large">Map</a></div>
    <div class="col-md-6 margin-top-20"><a href="" class="btn btn-primary btn-block btn-large">Setting</a></div>
</div>

<div class="row">
    <div class="col-md-6 margin-top-20"><a href="" class="btn btn-primary btn-block btn-large">Search</a></div>
    <div class="col-md-6 margin-top-20"><a href="" class="btn btn-primary btn-block btn-large">My Profile</a></div>
</div>

