
@{
    ViewBag.Title = "Go to your Email";
}


<h2>@ViewBag.Title.</h2>
<div>

    <p>Thank you for Registering and confirme your email. Please..</p>
    <p><a href="https://mail.google.com" class="btn btn-primary btn-lg">Go to Your Email Account</a></p>

</div>